{
  "semi": true,
  "trailingComma": "es5",
  "singleQuote": true,
  "printWidth": 80,
  "tabWidth": 2,
  "useTabs": false,
  "bracketSpacing": true,
  "arrowParens": "always",
  "endOfLine": "lf",
  "overrides": [
    {
      "files": "*.json",
      "options": {
        "printWidth": 120,
        "tabWidth": 2
      }
    },
    {
      "files": ["*.yml", "*.yaml"], 
      "options": {
        "tabWidth": 2,
        "singleQuote": false
      }
    },
    {
      "files": "docker-compose*.yml",
      "options": {
        "tabWidth": 2,
        "singleQuote": false,
        "printWidth": 120
      }
    }
  ]
}